.nav
{
	height: 100%;
	width: 255px;
	background-image: linear-gradient(#F5DEB3,white);
	float: left;
}
.cont
{
	height: 90%;
	width: 1251px;
	float: left;
}
.header
{
	width: 100%;
	height: 250px;
	background-image: url("../images/background/pets-header.jpg");
}
.header img
{
	float: right;
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-right: 40px;
}
.tab
{
	width: 100%;
	height: 40px;
	padding-top: 10px;
	background-image: linear-gradient(#CD853F,#DEB887,white);
}
.tab table
{
	margin-right: 50px;
	height: 28px;
	width: 40%;
	border-radius: 10px;
	float: right;
	border: 0.1px solid lightgrey;
}
.tab table button
{
	font-size: 15px;
	font-style: italic;
	border: 0px;
	height: 100%;
	width: 100%;
	border-radius: 0px 10px 10px 0px;
	background-color: #DEB887;
}
.search
{
	width: 80%;
	background-color: #FFF8DC;
	border-radius: 8px 0px 0px 8px;
}
.input
{
	border: 0px;
	height: 100%;
	width: 100%;
	border-radius: 8px 0px 0px 8px;
	background-color: #FFF8DC;
}
.tablinks
{
	float: left;
	margin-left: 10px;
	height: 80%;
	width: 40%;
}
.tablinks a
{
	margin-left: 30px;
	font-size: 20px;
	font-style: italic;
}
#crticon
{
	float: right;
	height: 80%;
	width: 6%;
	margin-right: 20px;
}
#crticon img
{
	height: 100%;
	width: 100%;
}
footer
{
	width: 1251px;
	height: 10%;
	font-size: 12px;
	float: left;
	background-image: linear-gradient(white,white,#FFF8DC,#FFF8DC);
}
#facebook
{
	width: 33%;
	height: 93%;
	float: left;
}
#insta
{
	width: 33%;
	height: 93%;
	float: left;
	margin-left: 5px;
}
#twitter
{
	width: 33%;
	height: 93%;
	float: right;
}
.note
{
	margin-top: 40px;
	margin-bottom: 5px;
	font-size: 16px;
	font-style: italic;
}
.anote
{
	font-size: 14px;
}
.anote:hover
{
	font-style: italic;
	font-weight: bold;
}
.rows
{
	width: 100%;
	height: 15%;
	margin-top: 7px;
	display: none;
}
#quotes
{
	display: block;
	margin-top: 5px;
}
.row1
{
	width: 100%;
	height: 17%;
	display: none;
}
.block
{
	height: 100%;
	width: 15%;
	margin-left: 45px;
	float: left;
	border: 1px black solid;
	background-color: rgba(245,222,179,0.2);
}
.block img
{
	width: 70%;
	height: 40%;
	margin-top: 10px;
}
.profile
{
	width: 100%;
	height: 3%;
	margin-top: 8px;
}
#pimg
{
	width: 20%;
	height: 80%;
	float: left;
	margin-left: 10px;
	margin-top: 2px;
}
#pimg img
{
	height: 100%;
	width: 100%;
	border-radius: 45px;
}
#pname
{
	font-style: italic;
	float: right;
	width: 70%;
	height: 100%;
	margin-top: 8px;
}
hr
{
	background-color: #FFDEAD;
	height: 1px;
}
.navlinks
{
	margin-top: 10px;
	width: 100%;
	height: 90%;
}
a
{
	text-decoration: none;
	color: black;
}
ul
{
	list-style: none;
	margin-top: 5px;
	padding-left: 15px;
	line-height: 25px;
}
.species
{
	width: 80%;
	padding-left: 20px;
	background-color: #FFF8DC;
	border-radius: 20px;
	display: none;
}
.filterimg
{
	margin-top: 7px;
	height: 30px;
	width: 30px;
}
.out
{
	margin-top: 10px;
}
li:hover
{
	font-style: italic;
	text-decoration: underline; 
}
#pname a:hover
{
	color: brown;
	text-decoration: underline;
}
.ad
{
	height: 100%;
	width: 100%;
}
.block div
{
	height: 38%;
	/*background-color: grey;*/
	width: 100%;
	font-size: 16px;
}
#price
{
	margin: 2.5px;
	height: 25%;
}
#name
{
	height: auto;
}
.block button
{
	height: 15%;
	width: 90%;
	cursor: pointer;
}
#more
{
	float: right;
	margin-right: 5px;
	width: 40%;
	background-color: inherit;
	border: 0px;
	font-size: 14px;
}
#more:hover
{
	font-style: italic;
	text-decoration: underline;
}
#catag
{
	cursor: pointer;
}
.about,.help
{
	height: 64%;
	width: 100%;
	margin-top: 1px;
}
.aboutcont,.helpcont
{
	display: none;
	height: 88.5%;
	width: 100%;
	background: linear-gradient(white,#FFFAF0,#FFFAF0,#FFFAF0,white);
	padding-top: 100px;
}
.topic
{
	margin-left: 50px;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}
.helpcont form table
{
	margin-top: 60px;
	margin-left: 100px;
	border: 1px solid black;
	border-radius: 9px;
}
.label
{
	padding-left: 10px;
	width: 150px;
	height: 30px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 18px;
	font-style: italic; 
}
.data
{
	height: 30px;
	width: 230px;
	border-bottom: 1px solid black;
}
.data input
{
	height: 100%;
	width: 99%;
	border: 0px;
}
textarea
{
	width: 99%;
	height: 100%;
	border: 0px;
	border-radius: 0px 0px 10px 0px;
}
.helpcont form button
{
	margin-left: 120px;
	margin-top: 10px;
	cursor: pointer;
}
.msg
{
	margin-top: 20px;
	margin-left: 50px;
	font-size: 14px;
}
p
{
	margin-left: 70px;
	margin-right: 80px;
	font-size: 16px;
}
.aboutcont hr
{
	height: 0.5px;
	border: 0px;
	background-color: #DAA520;
	margin-top: 70px;
}
.ceoimg
{
	margin-left: 40px;
	margin-top: 20px;
	height: 30%;
	width: 30%;
	float: left;
}
.ceoimg img
{
	height: 80%;
	width: 80%;
}
.ceo
{
	margin-top: 20px;
	height: 30%;
	width: 50%;
	float: left;
}
.ceo p
{
	margin-left: 0px;
}
#error
{
	color: red;
	font-size: 16px;
	margin-left: 80px;
	margin-top: 40px;
}
.species form li input
{
	border: 0px;
	background-color: #FFF8DC;
	color: black;
	font-size: 16px;
}
.species form li input:hover
{
	font-style: italic;
	cursor: pointer;
}
.tab form button
{
	color: black;
}
.tab form button:hover
{
	cursor: pointer;
}