.nav
{
	height: 100%;
	width: 255px;
	background-image: linear-gradient(#F5DEB3,white);
	float: left;
}
.cont
{
	height: 100%;
	width: 1251px;
	float: left;
	overflow: auto;
}
.profile
{
	width: 100%;
	height: 8%;
	margin-top: 8px;
}
#pimg
{
	width: 20%;
	height: 80%;
	float: left;
	margin-left: 10px;
	margin-top: 2px;
}
#pimg img
{
	height: 100%;
	width: 100%;
	border-radius: 45px;
}
#pname
{
	font-style: italic;
	float: right;
	width: 70%;
	height: 100%;
	margin-top: 8px;
}
hr
{
	background-color: #FFDEAD;
	height: 1px;
}
.navlinks
{
	margin-top: 10px;
	width: 100%;
	height: 90%;
}
a
{
	text-decoration: none;
	color: black;
}
ul
{
	list-style: none;
	margin-top: 5px;
	padding-left: 15px;
	line-height: 25px;
}
.out
{
	margin-top: 10px;
}
li:hover
{
	font-style: italic;
	text-decoration: underline; 
}
#pname a:hover
{
	color: brown;
	text-decoration: underline;
}