body
{
	width: 1506px;
	height: 745px;
}
.body
{
	height: 100%;
	width: 100%;
	background-image: url('../images/background/back.png');
	background-size: cover;
	float: right;
}
.signcont
{
	width: 800px;
	height: 550px;
	border: 2px solid black;
	margin: 70px 0px 0px 370px;
	background-image: url("../images/background/pets.jpg");
	background-size: cover;
	border-radius: 43px;
	display: none;
}
.close
{
	float: left;
	margin: 10px 0px 0px 15px;
	font-size: 20px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.topic
{
	margin-top: 30px;
	font-size: 20px;
	font-style: italic;
	text-decoration: underline;
}
.rgstr
{
	height: 80%;
	width: 65%;
	margin-top: 40px;
}
.rgstr table
{
	height: 100%;
	width: 100%;
	border-radius: 8px;
	border: 2px solid black;
}
.label
{
	border-right: 1px solid black;
	width: 35%;
	border-bottom: 1px solid black;
	font-size: 18px;
	font-style: italic;
	padding-left: 5px;
	background-color: #E8E8E8;
}
.input
{
	border-bottom: 1px solid black;
	height: 30px;
	width: 60%;
}
.input input, textarea
{
	height: 100%;
	width: 99.5%;
	border: 0px;
	font-size: 18px;
	color: white;
	background: rgba(0,0,0,0.4); 
}
button
{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	color: black;
	border-radius: 45px;
	height: 30px;
	width: 100px;
	background-color: #D3D3D3;
	cursor: pointer;
}
button:hover
{
	background-color: white;
	box-shadow: 2px 2px white;
}
#error
{
	color: red;
}