<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>PetNote</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/admin/reply.css' %}">
	<script src="{% static 'js/script.js' %}" rel="text/javascript"></script>
	<script src="{% static 'jquery/jquery-3.4.1.min.js' %}" rel="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$('.replycont').fadeIn(1000);
			$('.replycont').css("display","block")
		});
	</script>
</head>
<body>
	<div class="body">
		<div class="replycont">
			<div id="back" align="center">
				<div title="Close" class="close" onclick="goBack()">X</div>
				<div id="topic">
					Reply
				</div>
				<div id="main">
					<form action="/admins/replytask" method="post">
						{% csrf_token %}
						<table>
							<tr>
								<td class="label">Name:</td>
								<td class="data">{{r.1}} {{r.2}}</td>
							</tr>
							<tr>
								<td class="label">Mobile:</td>
								<td class="data">{{r.4}}</td>
							</tr>
							<tr>
								<td class="label">Email:</td>
								<td class="data">{{r.3}}</td>
							</tr>
							<tr>
								<td class="label">Query:</td>
								<td class="data" id="query">{{r.5}}</td>
							</tr>
						</table>
						<div id="ans" align="left">
							Reply:
							<br>
							<textarea name="rep"></textarea>
						</div>
						<button type="submit" id="send" value="{{r.0}}" name="query">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>