<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>PetNote</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/search/search.css' %}">
	<script src="{% static 'jquery/jquery-3.4.1.min.js' %}" rel="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$('#catag').click(function()
			{
				$('.species').toggle(500);
			});
		});
	</script>
</head>
<body>
	<div class="nav">
		<div class="profile">
			<div id="pimg">
				<img src="{% static 'images/profile.png' %}">
			</div>
			<div id="pname">
				{% if flag == 1 %}
					<a href="/profile">{{name}} / {{user}}</a>
				{% else %}
					User/Customer
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="navlinks">
			<ul>
				<li class="out" style="margin-bottom: 15px;"><a href="/" style="font-size: 18px;">Home</a></li>
				<li><a id="catag">Catagories &#9660;</a></li>
				<ul class="species">
						<form method="post" action="/search">
							{% csrf_token %}
							{% for j in req %}
								<li><input value="{{j}}" name="catag" type="submit"></li>
							{% endfor %}
						</form>
				</ul>
				<li class="out"><a href="/filter" style="float: left; margin-top: 10px;">Filters&nbsp;</a></li>
				<li class="out"><a href="/filter"><img src="{% static 'images/filter.png' %}" class="filterimg"></a></li>
				<li class="out"><a href="/reward">My Rewards</a></li>
				<li class="out"><a href="/order">My Orders</a></li>
				<li class="out"><a href="/cart">My Cart</a></li>
				{% if flag == 1 %}
					<li class="out"><a href="/logout">Logout</a></li>
				{% else %}
					<li class="out"><a href="/login">Login/Sign-up</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div id="searchcont">
		{% if box %}
			{% for rec in arec %}
				<div class="rows">
					{% for r in rec %}
						<div class="block" align="center">
							<img src="{% static r.3 %}">
							<div>
								<div id="name">{{r.0}}</div>
								<div id="price">
									{% if r.1 == r.2 %}
										${{r.1}}
									{% else %}
										<strike>${{r.1}}</strike> ${{r.2}}
									{% endif %}
								</div> 
								<form action="/detail" method="post">
									{% csrf_token %}
									<button type="submit" value="{{r.0}}" name="more" id="more">More..</button>
								</form>
							</div>
							{% if flag == 1 %}
								<form action="/add" method="post">
									{% csrf_token %}
									<button type="submit" value="{{r.0}}" name="addcart">Add to Cart</button>
								</form>
							{% else %}
								<a href="/login"><button>Add to Cart</button></a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% else %}
			<div id="error" align="center">
				No Results Found..!!
			</div>
		{% endif %}
	</div>
</body>
</html>